.keen-dataviz {
font-family: "Poppins", "sans-serif";
}

.keen-dataviz .keen-dataviz-title, .keen-dataviz .text-label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #2b2d3c;
}
.keen-dataviz .text-main {
  font-size: 1.6rem;
  font-weight: 500;
}
.keen-dataviz .text-second {
  color: rgba(255,255,255,.85);
}